<template>
  <div>
    <div>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width:700px height:700px">
          <div class="card-body">
            <div>
              <h1 style="font-family: courier">
                <b>{{name}}'s Final Score: {{score}}/{{maxScore*10}}</b>
              </h1>
            </div>
            <quiz-results :questions="this.prevQuestions"></quiz-results>
            <button style="margin: 5px" class="btn btn-outline-danger" @click="onMenu">Back to Menu</button>
            <button style="margin: 5px" class="btn btn-outline-success" @click="onRestart">Restart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuizResults from "./QuizResults.vue";
export default {
  components: {
    QuizResults
  },
  data() {
    return {
      score: 0,
      prevQuestions: {},
      name: "",
      maxScore: 0
    };
  },
  methods: {
    onRestart() {
      const thisName = this.name;
      this.$router.push({
        name: "/Play",
        params: { thisName }
      });
    },
    onMenu() {
      this.$router.push("/Menu");
    }
  },
  created() {
    let parameters = this.$route.params;
    this.prevQuestions = parameters.forward.prevQ;
    this.score = parameters.forward.scoring;
    this.name = parameters.forward.thisName.thisName;
    this.maxScore = this.prevQuestions.length;
  }
};
</script>