<template>
  <div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 400px; text-align:center">
        <h3>
          Enter your name!
          <br />
        </h3>

        <input style="text-align:center" id="inpId" type="text" v-on:input="inputChange" />
        <button style="margin: 5px" class="btn btn-outline-success" @click="onSubmit">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: ""
    };
  },
  methods: {
    inputChange: function(evt) {
      this.name = evt.target.value;
    },
    onSubmit() {
      const thisName = this.name;
      if (thisName != "") {
        this.$router.push({
          name: "/Play",
          params: { thisName }
        });
      }
    }
  }
};
</script>