<template>
  <div>
    <div>
      <slot>
        <div v-if="questions.length <= 0">
          <div class="col d-flex justify-content-center">
            <div class="card" background-color="grey" style="width:400px">
              <h2>Loading...</h2>
              <br />
              <img src="/loading.gif" />
            </div>
          </div>
        </div>
        <quiz-question
          v-if="questions.length > 0"
          @submitted="onSubmit"
          :question="currentQuestion().question"
          :type="currentQuestion().type"
          :correct_answer="currentQuestion().correct_answer"
          :incorrect_answers="currentQuestion().incorrect_answers"
        ></quiz-question>
      </slot>
    </div>
  </div>
</template>

<script>
import QuizQuestion from "./QuizQuestion.vue";
export default {
  components: {
    QuizQuestion
  },
  data() {
    return {
      questions: [],
      counter: 0,
      score: 0,
      prevQuestions: [],
      urlRandomiser: String(Math.floor(Math.random() * (+21 - +10) + +10)),
      name: ""
    };
  },
  methods: {
    currentQuestion() {
      if (this.questions) {
        return this.questions[this.counter];
      } else {
        return;
      }
    },
    onSubmit(value, bool) {
      this.prevQuestions.push(value);
      if (bool == true) {
        this.increaseScore();
      }
      if (this.counter < Number(this.urlRandomiser) - 1) {
        this.nextQuestion();
        this.currentQuestion();
      } else {
        const scoring = this.score;
        const prevQ = this.prevQuestions;
        const thisName = this.name;
        const forwarding = { scoring, prevQ, thisName };
        this.$router.push({
          name: "/Results",
          params: { forward: forwarding }
        });
      }
    },
    increaseScore() {
      this.score = this.score + 10;
    },
    nextQuestion() {
      this.counter++;
    }
  },
  created() {
    this.name = this.$route.params;
    const url = "https://opentdb.com/api.php?amount=";
    let urlRandomiser = this.urlRandomiser;
    var self = this;
    fetch(`${url}${urlRandomiser}`)
      .then(function(response) {
        return response.json();
      })
      .then(function(questions) {
        self.questions = questions.results;
      });
  }
};
</script>