<template>
  <div id="app">
    <div class="col d-flex justify-content-center">
      <div>
        <img style="max-width:100%; height:auto" src="/trivia-logo-edited-png.png" />
      </div>
    </div>
    <hr />
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  created() {
    this.$router.push("/");
  }
};
</script>

<style>
#app {
  height: 100%;
  width: 100%;
  background: url("https://i.ytimg.com/vi/TGHtQ9wVcaY/maxresdefault.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "courier";
  color: black;
  text-align: center;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
</style>
